.landing {
	background-image: url("../../assets/890850-free-download-beautiful-forest-wallpaper-2406x1504.jpg");
	background-size: auto;
  /* width: 100vw; */
  height: 100vh;
	color: rgb(255, 219, 13);
	text-shadow: 2px 3px rgb(108, 83, 255);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  gap:24px
}
img {
  max-width: 80vh;
  align-items: center;
  justify-items: center;
}
.image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40vw;
	min-width: 400px;
}
.col2 {
	background-color: rgba(250,250, 250,1);
	border-radius: 15px;
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	min-width: 400px;
}

.button {
	width: 250px;
	height: 60px;
	font-size: 2rem;
	font-weight: 600;
	color: rgb(250, 250, 250);
	background:linear-gradient(90deg, rgb(161, 220, 148),rgb(37,204,169));
	border-radius: 30px;
	border-color: rgb(103, 103, 255);
	box-shadow: 3px 3px rgba(77, 179, 138, 0.6);
	cursor: pointer;
}

.button:hover {
	color: rgb(77, 179, 138);
	background: transparent;
	border-color: rgb(77, 179, 138);
}
