#principalContainer {
	/* background-color: black; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.title img {
	width: 50vw;
	height: auto;
	max-width: 600px;
	min-width: 320px;
}
.formContainer {
	margin-top: 16px;
}
.inputAndLabel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* background-color: coral; */
	width: 50vw;
	max-width: 480px;
	min-width: 320px;
	margin: 4px;
	padding: 2px;
}
.button {
	width: 160px;
	height: 32px;
	font-size: 1rem;
	margin-top: 12px;
	/* padding: 12px; */
	color: rgb(250, 250, 250);
	background: linear-gradient(90deg, rgb(161, 220, 148), rgb(37, 204, 169));
	border-radius: 30px;
	border-color: rgb(77, 179, 138);
	box-shadow: 3px 3px rgba(77, 179, 138, 0.6);
	cursor: pointer;
}
.button:hover {
	color: rgb(77, 179, 138);
	background: transparent;
	border-color: rgb(77, 179, 138, 0.6);
}
.containerButton {
	width: 160px;
	height: 32px;
	font-size: 1rem;
	margin-top: 12px;
	/* padding: 12px; */
	color: rgb(250, 250, 250);
	background: linear-gradient(90deg, rgb(161, 220, 148), rgb(37, 204, 169));
	border-radius: 30px;
	border-color: rgb(77, 179, 138);
	box-shadow: 3px 3px rgba(77, 179, 138, 0.6);
	cursor: pointer;
	font-weight: bold;
	margin-top: -8px;
}
.containerButton:disabled {
	color: rgb(252, 102, 141);
	background: transparent;
	border-color: rgb(252, 102, 141);
}
.error {
	width: fit-content;
	color: rgb(212, 48, 92);
	font-weight: bold;
	margin: 4px;
	padding: 2px;
	width: 50vw;
	max-width: 480px;
	min-width: 320px;
	text-align: center;
}
input{
	margin: 4px;
	padding: 2px;
	width: 50vw;
	max-width: 480px;
	min-width: 320px;
}