header {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
img {
	height: 64px;
}
.searchAndFilter {
	max-width: 720px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.imageHeader {
	min-width: 360px;
	max-width: 720px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* .pokedexImg {
	justify-self: center;
} */

.item {
	list-style: none;
}
.button {
	width: 160px;
	height: 32px;
	font-size: 1rem;
	margin-top: 12px;
	/* padding: 12px; */
	color: rgb(250, 250, 250);
	background: linear-gradient(90deg, rgb(161, 220, 148), rgb(37, 204, 169));
	border-radius: 30px;
	border-color: rgb(77, 179, 138);
	box-shadow: 3px 3px rgba(77, 179, 138, 0.6);
	cursor: pointer;
}
.button:hover {
	color: rgb(77, 179, 138);
	background: transparent;
	border-color: rgb(77, 179, 138, 0.6);
}
select {
	height: 32px;
	width: 152px;
	font-weight: bold;
	color: rgb(77, 179, 138);
	align-content: center;
	text-align: center;
	border-color: rgb(77, 179, 138);
	border-radius: 30px;
}
select:hover {
	color: rgb(250, 250, 250);
	background-color: rgb(77, 179, 138);
}
label {
	min-width: 160px;
	color: rgb(77, 179, 138);
	background: transparent;
	border-color: rgb(77, 179, 138);
	border: 5px;
	border-radius: 30px;
}
.filters {
	max-width: 720px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.buttonsAndSearch {
	max-width: 720px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.buttonsContainer {
	min-width: 360px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.searchBar {
	width: 360px;
}
.filterOrSort {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 160px;
}
.grid{
	max-width: 1080px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 8px;
	margin-bottom: 12px;
}
li{
	height: 80px;
}

.gridAndPaginate{
  width: 100vw;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.gridContainer{
	max-width: 1080px;
	min-width: 360px;
	margin-top: 8px;
	margin-bottom: 8px;
}