.mainContainer{
  display: flex;
  height: 100vh;
  background-color: aquamarine;
  color:rgb(72, 105, 109);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.detailsContainer{
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.col{
  background-color: chartreuse;
  width: 40vw;
  height: 80vh;
  max-width: 480px;
  min-width: 352px;
  max-height: 520px;
  min-height: 400px;

}

.pokemonImg{
  width: 30vw;
  height: auto;
  border-radius: 15px;
  max-width:  400px; 
}
.pokemonDetails{
  font-size: 1.5rem;
  background-color: rgb(39, 7, 221) ;
  padding: 24px;
  border-radius: 20px;
}

.firstItem{
  margin-top: 0;
}

.pokemonName{
  text-transform: capitalize;
  
}

.button {
  width: 160px;
	height: 32px;
	font-size: 1rem;
	margin-top: 12px;
	/* padding: 12px; */
	color: rgb(250, 250, 250);
	background: linear-gradient(90deg, rgb(161, 220, 148), rgb(37, 204, 169));
	border-radius: 30px;
	border-color: rgb(77, 179, 138);
	box-shadow: 3px 3px rgba(77, 179, 138, 0.6);
	cursor: pointer;
}
.types{
  text-transform: capitalize;
}
