.pokemonCard{
list-style: none;
font-size: .8rem;
background-color: transparent;
color: rgb(72, 105, 109);
border-radius: 12px;
text-align: center;
}

.pokemonCard:hover{
  opacity: .75;
}

.pokemonImage{
  top: 10px;
  border-radius: 10px;
  max-width: 64px;
}

.name{
  text-transform: capitalize;
font-size: .9rem;
}

h5{
  text-transform: capitalize;

}