.pokemonCard{
list-style: none;
font-size: 1.3rem;
background-color: rgb(10, 10, 10);
color: rgb(255, 252, 62);
border-radius: 12px;
text-align: center;
text-shadow: 15px, 15px, #ccc900;
}

.pokemonCard:hover{
  opacity: .75;
}

.pokemonImage{
  top: 10px;
  border-radius: 10px;
  max-width: 200px;
}

.name{
  text-transform: capitalize;
}

p{
  font-size: .9rem;
}
h5{
  text-transform: capitalize;

}