.loader {

  margin-left: calc(50vw - 80px);
  margin-top: calc(60vh - 300px);
}

.spinner{
  width: 160px;
  background: linear-gradient(90deg, rgb(161, 220, 148), rgb(37, 204, 169));
  border-radius: 80px;
}