.loader {
  background-image: url("https://64.media.tumblr.com/a79af535f76793b3c4efb249aa35959a/tumblr_pep348fsjU1sgge6vo1_500.gifv");
  background-size: 100% 100%;
  width: 100%;
  min-height: 95vh;
  padding-top: 37px;
}