.paginado {
  min-width: 360px;
  max-width: 720px;
  height: 32px;
	display: flex;
  flex-direction: row;
  gap: 16px;
	justify-content: center;
  margin-top: 12px;
}

.button {
  height: 32px;
  width: 32px;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(125, 231, 186);
  background-color:rgb(30,134,150) ;
  border-radius: 22px;
  border-color: rgb(125, 231, 186);
  box-shadow: 3px 3px rgba(11, 1, 70, .6);
  cursor: pointer;
}
.button:hover{
	color: rgb(30,134,150);
	background: rgb(125, 231, 186);
}
